.list-group-item {
    overflow: hidden;
}

.list-group-item:hover {
    cursor: pointer;
}

.card-product .img-wrap {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    position: relative;
    height: 220px;
    text-align: center;
}
.card-product .img-wrap img {
    max-height: 100%;
    height: 100%;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}
.card-product .info-wrap {
    overflow: hidden;
    padding: 15px;
    border-top: 1px solid #eee;
}
.card-product .bottom-wrap {
    padding: 15px;
    border-top: 1px solid #eee;
}

.label-rating { margin-right:10px;
    color: #333;
    display: inline-block;
    vertical-align: middle;
}

.card-product .price-old {
    color: #999;
}

.list-group-item:hover .media-button-action {
    visibility: visible;
    right: 0;
}

.media-button-action {
    position: absolute;
    display: flex;
    visibility: hidden;
    justify-content: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100%;
    background: rgba(16, 17, 18, 0.2);
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.2s ease-out;
    height: 100%;
}

.media-button-action a.btn {
    align-self: center;
}