div.main-login{
  background: #212121; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #212121 1%, #1a1818 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#212121), color-stop(100%,#1a1818)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #212121 1%,#1a1818 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #212121 1%,#1a1818 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #212121 1%,#1a1818 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #212121 1%,#1a1818 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212121', endColorstr='#1a1818',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  height:calc(100vh);
  width:100%;
}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

body {

  color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

a {
	color: #eee;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.main-login input {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	padding: 0;
	-webkit-appearance: none;
}

.main-login p {
	line-height: 1.5em;
}

.clearfix {
  *zoom: 1;
}

.clearfix::before, .clearfix::after {
  content: ' ';
  display: table;
}

.clearfix::after {
  clear: both;
}

.main-login .container {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ---------- LOGIN ---------- */

#login form{
	width: 250px;
}
#login, .logo{
    display:inline-block;
    width:40%;
}
#login{
  padding: 0px 22px;
  width: 59%;
}
.logo{
  color:#fff;
  font-size:50px;
  line-height: 125px;
  border-left:1px solid #fff;
}

#login form span.fa {
	background-color: #fff;
	border-radius: 3px 0px 0px 3px;
	color: #000;
	display: block;
	float: left;
	height: 50px;
    font-size:24px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}

#login form input {
	height: 50px;
}
fieldset{
    padding:0;
    border:0;
    margin: 0;

}
#login form input[type="text"], input[type="password"] {
	background-color: #fff;
	border-radius: 0px 3px 3px 0px;
	color: #000;
	margin-bottom: 1em;
	padding: 0 16px;
	width: 200px;
}

#login form input[type="submit"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #000000;
  color: #eee;
  font-weight: bold;
  /* margin-bottom: 2em; */
  text-transform: uppercase;
  padding: 5px 10px;
  height: 30px;
}

#login form input[type="submit"]:hover {
	background-color: #FF9800;
}

#login > p {
	text-align: center;
}

#login > p span {
	padding-left: 5px;
}
.middle {
  display: flex;
  width: 600px;
}

.span-forgot {
  width:48%;
  text-align:left;
  display: inline-block;
}

.span-signin {
  width:50%;
  text-align:right;
  display: inline-block;
}

.alert-warning.alert-warning-outline {
  color: #856404;
  background: none !important;
  border-color: #856404;
}