.floating-button{
	position:fixed;
	width:60px;
	height:60px;
	bottom:20px;
	right:40px;
	background-color:#FF9800;
	color:#FFF !important;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.floating-button:hover{
	color: #FFF !important;
	cursor: pointer;
}

.floating-button-icon{
	margin-top:22px;
}

/* Image Upload Style */
.imgUp {
    border: 2px solid #e5e5e5;
    padding: 0px !important;
}

.imgUp label {
    border-top: 2px solid #e5e5e5 !important;
    border-radius: 0px;
    color: #009B26;
}

.imgUp .imagePreview {
    width: 100%;
    height: 100px;
    background-color: #F3F3F3;
    color: #959595;
    text-align: center;
    line-height: 100px;
    display: inline-block;
}

.imgUp .uploadFile {
    width: 0px;
    height: 0px;
    overflow: hidden;
    display: none !important;
}

.imgUp .del {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: none;
    color: #D2D2D2;
    cursor: pointer;
}